# ==============================
# Node
# ==============================
node_modules/
client/node_modules/
server/node_modules/

# ==============================
# Python
# ==============================
venv/
ai-service/venv/
.venv/
__pycache__/
*.pyc

# ==============================
# Build / Dist
# ==============================
dist/
build/

# ==============================
# Environment
# ==============================
.env

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Archives
# ==============================
*.zip
*.tar
*.gz

# ==============================
# AI Models
# ==============================
*.pt
*.pth
*.onnx
*.h5
